@charset "utf-8";
/* CSS Document */

			#div1{
					border:0px #3C3 solid;
					position:relative;
					width: 550px;
					height: 400px;
					margin: auto;
					top: -580px;
					left: 40px;
					bottom: 0;
					right: 0;
					
			}
		
	  	#rotate ul li{
				position:relative;
				border:0px #0FF solid;
				padding:0px 10px 0px 0px; 
				list-style: none;
				float: left;
				width:160px;
				height:160px;
				margin-left: 20px;
				margin-top: 10px;
				margin-right: 40px;
				margin-bottom: 35px; 
	      
				/*box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
				-moz-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);
				-webkit-box-shadow:2px 2px 3px rgba(0, 0, 0, 0.5);*/
	    }
	
	  #rotate ul li img{
			-moz-border-radius: 20px;
			-webkit-border-radius: 20px;
			border-radius:20px;/*
			box-shadow:4px 4px 8px rgba(0, 0, 0, 0.5);
			-moz-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.5);
			-webkit-box-shadow:4px 4px 8px rgba(0, 0, 0, 0.5);*/
	  }
