@charset "utf-8";
/* CSS Document */



#div1 .right .l2 .l2-l2 {
		border:0px solid #666;
		width:520px;
		height:285px;	
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius:20px;
		margin-bottom:10px;
		
}

#div1 .right .l2 .p2{
		border:0px solid #666;
		width:520px;
		height:175px;
		box-shadow:-2px 0 2px #FFF, /*左边阴影*/  
    2px 0 2px #FFF, /*右边阴影*/  
    0 -2px 2px #FFF, /*顶部阴影*/  
    0 2px 2px #FFF; /*底边阴影*/  
}

#div1 .right .l2 img {
		-webkit-border-radius: 20px;
		border-radius:20px;
		margin-bottom:10px;
}

#nav1 {
	position:absolute;
    margin-top: -230px;
	margin-left:370px;
    width: 130px;
	height: 20px;
}
#nav1 div {
	float:left;
	margin-left:10px;
    width: 15px;
	height: 15px;
    background-color:#690;
    -moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius:15px;
	color:#FFF;
	font-size:12px;
	font-family:"Hobo Std";
    line-height:16px;
	padding-left:7px;	
	cursor: pointer;			
}
#nav1 div.cur {
	background-color:#FFF;
	color:#690;
}