@charset "utf-8";
/* CSS Document */

#div1 {
		background-color:#690;
		position:relative;
		margin:auto;
		border:0px solid #06C;
		height:500px;
		width:750px;
		top:25px;	
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius:20px;
		overflow:hidden;
}
#div1 .left{
		border:0px solid #000;
		position:absolute;
		height:500px;
		width:150px;
		float:left;
		
		box-shadow:-2px 0 2px #FFF, /*左边阴影*/  
    2px 0 2px #FFF, /*右边阴影*/  
    0 -2px 2px #FFF, /*顶部阴影*/  
    0 2px 2px #FFF; /*底边阴影*/ 
		
}
#div1 .left ul {
		list-style:none;
		border:0px solid #F06;
		position:absolute;
    margin-left:15px;				
		padding:1px;
		width:110px;
		display:block;
}

.left ul li {
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius:20px;
		background:url(../images/kuang.gif) no-repeat;
		border:0px solid #F06;
		font-size:20px;
		font-family:"Arial Unicode MS";			
		height:50px;
		margin-top:12px;
		margin-bottom:13px;
}

#ta1 li{
		color:#693;
		padding-left:10px;
		line-height:50px;
		cursor: pointer;		
}

#ta1 li.cur {
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius:20px;
		box-shadow:-4px 0 4px #FFF, /*左边阴影*/  
    4px 0 4px #FFF, /*右边阴影*/  
    0 -4px 4px #FFF, /*顶部阴影*/  
    0 4px 4px #FFF; /*底边阴影*/
}
#ta2{
		position:absolute;
		border:0px solid #999;
		width:150px;
		height:185px;
	  bottom:0px;
		padding:0px;
		box-shadow:-0px 0 0px #FFF, /*左边阴影*/  
    2px 0 2px #FFF, /*右边阴影*/  
    0 0px 0px #FFF, /*顶部阴影*/  
    0 0px 0px #FFF; /*底边阴影*/ 
		
   
}
#ta2 p{
		display:block;
		font-size:20px;
		color:rgb(255,255,255);
		font-family:hakuyoxingshu7000;
		margin-top:-5px;
		padding-left:30px;
				
}


/*右边*/
#div1 .right{
		border:0px solid #90F;
		width:590px;
		height:500px;
		float:right;
		margin-top:10px;
		margin-right:15px;
	
}
#div1 .right li {
		list-style:none;
		margin:3px;
		border:0px solid #CC6;
		width:520px;
		height:470px;
		display:none;
		
}
#div1 .right .l1 .l1-l1 {
		border:0px solid #666;
		width:520px;
		height:320px;	
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius:20px;
		margin-bottom:10px;
	}
	
#div1 .right .l1 .l1-l1 img {
		width:520px;
		height:320px;
		-moz-border-radius: 20px;
		-webkit-border-radius: 20px;
		border-radius:20px;
	}

#div1 .right .l1 .p1 {
		border:0px solid #0F3;
		width:520px;
		height:130px;
		overflow:hidden;
		box-shadow:-2px 0 2px #FFF, /*左边阴影*/  
    2px 0 2px #FFF, /*右边阴影*/  
    0 -2px 2px #FFF, /*顶部阴影*/  
    0 2px 2px #FFF; /*底边阴影*/  
}
#div1 .right .l1 .p1 p{
		text-height:10px;
		font-size:23px;
		font-family:"华文行楷";
		color:#FFF;
		line-height:30px;
}
#div1 .right .l1 .p1 b{
		color:#F00;
		font-size:30px;
}



