@charset "utf-8";
#oneform {
		font-size:18px;
		color:#fff;
		width: 500px;
		height: 140px;
		margin: auto;
		position: absolute;
		top: -10px;
		left: 0;
		bottom: 0;
		right: 0;
		background:url(../images/rr.jpg) repeat;
}
#oneform tr {
		height:35px;
}
#oneform tr td {
		height:30px;
}
#text0 {
		position: relative;
		top: 0;
		left: 0;
		bottom: 0;
		right: 10px;
}
#text1 {
		position: relative;
		top: 0px;
		left: 60px;
		bottom: 0;
		right: 0;
}


